<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CoveProxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TimbradoTrace.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

  <!--  -->
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Temp\Cove-client.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="xml" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>

  
    <system.serviceModel>
      <diagnostics>
        <!-- Enable Message Logging here. -->
        <!-- log all messages received or sent at the transport or service model levels -->  
        <messageLogging logEntireMessage="true" maxMessagesToLog="300" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true" />
                      
      </diagnostics>

      <bindings>
        <basicHttpBinding>
          <binding name="IReceptorEndpointBinding">
            <security mode="TransportWithMessageCredential" />
          </binding>
          <binding name="IReceptorEndpointBinding1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="TransportWithMessageCredential">
              <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
              <message clientCredentialType="UserName" algorithmSuite="Default" />
            </security>
          </binding>
          <binding name="IReceptorEndpointBinding2" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="TransportWithMessageCredential">
              <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
              <message clientCredentialType="UserName" algorithmSuite="Default" />
            </security>
          </binding>
          <binding name="Timbrado_ManagerBinding">
            <security mode="Transport" />
          </binding>
          <binding name="Timbrado_ManagerBinding1" />
          <binding name="soapHttpEndpoint" />
          <binding name="soapHttpEndpointHttps">
            <security mode="Transport" />
          </binding>
          <binding name="CFDIServiceSoap" />
          <binding name="WSCFDBuilderPlusSoap" />
          <binding name="soapHttpEndpoint1" />
          <binding name="wcfRecepcionASMXSoap">
            <security mode="Transport" />
          </binding>
          <binding name="wcfRecepcionASMXSoap1" />
          <binding name="TimbradoCFDSoapBinding">
            <security mode="Transport" />
          </binding>
          <binding name="TimbradoCFDSoapBinding1" />
        </basicHttpBinding>
        <customBinding>
          <binding name="IReceptorEndpointBinding3">
            <mtomMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap11" maxBufferSize="65536" writeEncoding="utf-8">
              <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            </mtomMessageEncoding>
            <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false" />
          </binding>
        </customBinding>
      </bindings>
        <client>
            <endpoint address="https://www2.ventanillaunica.gob.mx:443/ventanilla/ConsultarRespuestaCoveService" binding="basicHttpBinding" bindingConfiguration="IReceptorEndpointBinding1" contract="CoveRespuestaServicio.IReceptor" name="IReceptorBinding1" />
            <endpoint address="https://www2.ventanillaunica.gob.mx:5002/ventanilla-8/RecibirCoveService" binding="basicHttpBinding" bindingConfiguration="IReceptorEndpointBinding2" contract="CoveServicioVentanilla8.IReceptor" name="IReceptorBinding2" />
            <endpoint address="https://www2.ventanillaunica.gob.mx:5002/ventanilla-8-old/DigitalizarDocumentoService" binding="customBinding" bindingConfiguration="IReceptorEndpointBinding3" contract="CoveServicioDocumento.IReceptor" name="IReceptorBinding3" />
            <endpoint address="https://www2.ventanillaunica.gob.mx:8103/ventanilla/RecibirCoveService" binding="basicHttpBinding" bindingConfiguration="IReceptorEndpointBinding" contract="CoveServicio.IReceptor" name="IReceptorBinding" />
            <endpoint address="https://t1demo.facturacionmoderna.com/timbrado/soap" binding="basicHttpBinding" bindingConfiguration="Timbrado_ManagerBinding" contract="FacturacionModernaTimbradoServicio.Timbrado_ManagerPort" name="Timbrado_ManagerPort" />
            <endpoint address="http://timbrado.facturarenlinea.com/WSTFD.svc" binding="basicHttpBinding" bindingConfiguration="soapHttpEndpoint" contract="WSFD.IWSTFD" name="soapHttpEndpoint" />
            <endpoint address="https://timbrado.facturarenlinea.com/WSTFD.svc" binding="basicHttpBinding" bindingConfiguration="soapHttpEndpointHttps" contract="WSFD.IWSTFD" name="soapHttpEndpointHttps" />
            <endpoint address="http://ww3.edcinvoice-cfdi.com:8081/cfdiwebservice/CFDIService.asmx" binding="basicHttpBinding" bindingConfiguration="CFDIServiceSoap" contract="CarvajalCFDIServicio.CFDIServiceSoap" name="CFDIServiceSoap" />
            <endpoint address="http://148.244.218.50/WSCFDIBuilderPlus/WSCFDBuilderPlus.asmx" binding="basicHttpBinding" bindingConfiguration="WSCFDBuilderPlusSoap" contract="EkomercioServicio.WSCFDBuilderPlusSoap" name="WSCFDBuilderPlusSoap" />
            <endpoint address="http://www.foliosdigitalespac.com/WSTimbrado33Test/WSCFDI33.svc" binding="basicHttpBinding" bindingConfiguration="soapHttpEndpoint1" contract="WSFD33.IWSCFDI33" name="soapHttpEndpoint1" />
            <endpoint address="https://www.paxfacturacion.com.mx:453/webservices/wcfRecepcionasmx.asmx" binding="basicHttpBinding" bindingConfiguration="wcfRecepcionASMXSoap" contract="PaxFacturacionServicio.wcfRecepcionASMXSoap" name="wcfRecepcionASMXSoap" />
            <endpoint address="https://prepws.buzone.com.mx:8448/BuzonEIWTimBrado/services/TimbradoCFD" binding="basicHttpBinding" bindingConfiguration="TimbradoCFDSoapBinding" contract="BuzonE.TimbradoCFD" name="TimbradoCFD" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup><applicationSettings>
    <CoveProxy.Properties.Settings>
      <setting name="CoveProxy_mx_com_laser_apps9_Facturaprod" serializeAs="String">
        <value>https://apps9.laser.com.mx:443/WebServicesPro/Pedimento5.php/FacturasVenta</value>
      </setting>
    </CoveProxy.Properties.Settings>
  </applicationSettings>
</configuration>
